apiVersion: apps/v1
kind: Deployment
metadata:
  name: commande-service
  namespace: camping-haller
  labels:
    app: commande-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: commande-service
  template:
    metadata:
      labels:
        app: commande-service
    spec:
      initContainers:
        - name: wait-for-postgres
          image: busybox
          command: [ 'sh', '-c', 'until nc -z postgres-commande 5432; do echo waiting for postgres-commande; sleep 5; done' ]
      containers:
        - name: commande-service
          image: commande-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8082
          env:
            - name: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI
              value: "https://__OVH_HOST__/realms/camping-haller"
            - name: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI
              value: "http://keycloak:8080/realms/camping-haller/protocol/openid-connect/certs"
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: "http://eureka:8761/eureka"
            - name: SERVER_PORT
              value: "8082"
            - name: MAIL_HOST
              value: "smtp-relay.brevo.com"
            - name: MAIL_PORT
              value: "587"
            - name: MAIL_FROM
              value: "__MAIL_FROM__"
            - name: MAIL_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mail-secret
                  key: MAIL_USERNAME
            - name: MAIL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mail-secret
                  key: MAIL_PASSWORD
            - name: SPRING_R2DBC_URL
              value: "r2dbc:postgresql://postgres-commande:5432/commandedb"
            - name: SPRING_R2DBC_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-commande-secret
                  key: POSTGRES_USER
            - name: SPRING_R2DBC_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-commande-secret
                  key: POSTGRES_PASSWORD
          readinessProbe:
            httpGet:
              path: /manage/health
              port: 8082
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 5
          resources:
            requests:
              memory: "256Mi"
              cpu: "200m"
            limits:
              memory: "512Mi"
              cpu: "500m"
