export const environment = {
  production: true,
  apiUrl: '__OVH_URL__',
  sites: {
    'camping-haller': {
      keycloak: {
        url: '__OVH_URL__',
        realm: 'camping-haller',
        clientId: 'haller'
      },
      paypal: {
        clientId: 'AbVtQq3_8LphF3SZ8TRV4wX7s-lTLfySfkHDhmvxknXULaSAVBgfzUptTH2AAPRo4BxIkHuCZUjCUwZh'
      }
    },
    'chabeille': {
      keycloak: {
        url: '__OVH_URL__',
        realm: 'chabeille',
        clientId: 'chabeille'
      },
      paypal: {
        // Sandbox: on réutilise le client id de test de camping-haller en attendant un client id dédié à chabeille
        clientId: 'AbVtQq3_8LphF3SZ8TRV4wX7s-lTLfySfkHDhmvxknXULaSAVBgfzUptTH2AAPRo4BxIkHuCZUjCUwZh'
      }
    }
  }
};
